<div class="row">
    <div class="col-sm">
        <div class="statistics-details d-flex align-items-center justify-content-between bg-light p-4 rounded shadow-sm">
            <!-- Total Rentals -->
            <div class="text-center">
                <p class="statistics-title text-uppercase text-secondary fw-bold mb-1">Total Rentals</p>
                <h3 class="rate-percentage text-dark fw-bold mb-1">{{ totalRentals }}</h3>
                
            </div>

            <!-- Cars Rented Out -->
            <div class="text-center">
                <p class="statistics-title text-uppercase text-secondary fw-bold mb-1">Cars Rented Out</p>
                <h3 class="rate-percentage text-dark fw-bold mb-1">{{ carsRentedOut }}</h3>
               
            </div>

            <!-- Total Cars Sold -->
            <div class="text-center d-none d-md-block">
                <p class="statistics-title text-uppercase text-secondary fw-bold mb-1">Total Cars Sold</p>
                <h3 class="rate-percentage text-dark fw-bold mb-1">{{ carsSold }}</h3>
                
            </div>

            <!-- Number of Users -->
            <div class="text-center d-none d-md-block">
                <p class="statistics-title text-uppercase text-secondary fw-bold mb-1">Users on Platform</p>
                <h3 class="rate-percentage text-dark fw-bold mb-1">{{ users}}</h3>
                
            </div>

            <!-- Average Ratings -->
            <div class="text-center d-none d-md-block">
                <p class="statistics-title text-uppercase text-secondary fw-bold mb-1">Average Ratings</p>
                <h3 class="rate-percentage text-dark fw-bold mb-1">{{ ratings }}</h3>
                
            </div>
        </div>
    </div>
</div>