<div class="flex-grow-1 mt0 ms-4 overflow-auto">
    
    <div class="d-flex flex-wrap gap-2 justify-content-between">
        
        <app-card class="flex-card"></app-card>
        <app-success-card class="flex-card"></app-success-card>
        <app-danger-card class="flex-card"></app-danger-card>
        <app-warning-card class="flex-card"></app-warning-card>
    </div>
    <app-dashdonut></app-dashdonut>
    <!-- <app-dash-line-chart class="chart-container"></app-dash-line-chart> -->
    <router-outlet></router-outlet>
</div>