<div class="card text-white bg-success mb-3" style="max-width: 20rem;">
    <div class="card-header">Bookings</div>
    <div class="card-body">
        <h5 class="card-title">Bookings Insights</h5>
        <ul class="list-unstyled">
            <li><strong>Booking Requests:</strong> {{ total }}</li>
            <li><strong>Cancelled</strong> {{ cancelledBookings}}</li>
            <li><strong>Hired</strong> {{hiredBookings}}</li>
        </ul>
        <!-- <a href="#" class="btn btn-light">View Analytics</a> -->
    </div>
</div>
