<div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
    <div class="card-header">Revenue</div>
    <div class="card-body">
      <h5 class="card-title">Revenue Overview</h5>
      <ul class="list-unstyled">
        <li><strong>Rental Revenue:</strong> ${{ rentalRevenue | number: '1.2-2' }}</li>
        <li><strong>Resell Revenue:</strong> ${{ resellRevenue | number: '1.2-2' }}</li>
        <li><strong>Total Revenue:</strong> ${{ totalRevenue | number: '1.2-2' }}</li>
      </ul>
    </div>
  </div>
  