
#sidebar {
    background-color: #343a40; 
    color: white;
     
    display: flex;
    flex-direction: column;
    padding: 20px; 
    border-radius: 15px; 
  }
  
  
  #sidebar .nav-link {
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 500;
    transition: all 0.3s ease;
  }
  

.nav-link:hover {
  color: #fff !important; 
  background-color: #0d6efd !important; 
  border-radius: .25rem; 
}
  
  #sidebar .nav-link.active {
    background-color: #ffc107; 
    color: #343a40; 
    font-weight: 600;
  }
  
  #sidebar .nav-item .bi {
    margin-right: 10px;
    font-size: 1.2rem; 
  }
  