<div class="card text-white bg-warning mb-3" style="max-width: 20rem;">
    <div class="card-header">Fleet</div>
    <div class="card-body">
      <h5 class="card-title">Car Availability</h5>
      <ul class="list-unstyled">
        <li><strong>Cars Available for Sale:</strong> {{ carService.resellCars }}</li>
        <li><strong>Cars Available for Rent:</strong> {{ carService.rentalCars }}</li>
        <li><strong>Total Fleet Size:</strong> {{ carService.totalCars }}</li>
      </ul>
      <!-- <a href="#" class="btn btn-light">View Fleet Details</a> -->
    </div>
  </div>
  